.circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 15px;
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}
