.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 20%;
}
.h2 {
  font-size: calc(1.1em + 0.5vw);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 4px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 50%;
  color: rgba(255, 255, 255, 0.4);
  height: calc(100% + 2.2em);
  z-index: 10;
}
.strong {
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(1.3em + 1.2vw);
}
.chart {
  display: inline-block;
  width: 48%;
  height: 100%;
  margin: 1%;
}
