.wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 41px;
  background: rgba(255, 255, 255, 0.05);

  border-radius: 10px;
  margin-bottom: 15px;
}

.title {
  color: rgba(255, 255, 255, 0.5);
}

.count {
  font-size: 1em;
  display: inline-block;
  color: var(--white);
  margin-left: 0.625em;
  margin-right: 0.375em;
}
