.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 45%;
  text-align: center;
}
.userImg {
  width: calc(38px + 24vw);
  height: calc(38px + 24vw);
  max-width: 150px;
  max-height: 150px;
  margin: 10% 0 8%;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--snow);
}
.id {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: clamp(1em, 5vw, 1.4em);
  text-transform: uppercase;
  color: var(--black);
}
.cursus {
  display: block;
  font-weight: 400;
  font-size: clamp(0.8em, 4vw, 1em);
  color: var(--darkgray);
}
