.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.img {
  display: inline-block;
  background-color: var(--snow);
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
  margin: 10px 10px 16px;
}

.id {
  font-weight: 800;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 10px;
  color: var(--black);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.online {
  width: 11px;
  height: 11px;
  background-color: var(--green);
  border-radius: 15px;
}

.cursus {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
}
