.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 45%;
  text-align: center;
}
.imgmask {
  width: calc(50px + 20vw);
  height: calc(50px + 20vw);
  max-width: 150px;
  max-height: 150px;
  margin: 10% 0 8%;
  background: url('../images/user-default.png') center/70% no-repeat var(--snow);
  border-radius: 50%;
  overflow: hidden;
}
.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 90%;
}
.id {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: clamp(1em, 5vw, 1.4em);
  text-transform: uppercase;
  color: var(--black);
}
.cursus {
  display: block;
  font-weight: 400;
  font-size: clamp(0.8em, 4vw, 1em);
  color: var(--darkgray);
}
